@import "tailwindcss";

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #09090b;
    /* zinc-950 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3f3f46;
    /* zinc-700 */
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #52525b;
    /* zinc-600 */
}

/* Make edges look like moving dashed lines */
.react-flow__edge-path {
    stroke-dasharray: 6 6;
    animation: rf-dash-move 0.9s linear infinite;
}

@keyframes rf-dash-move {
    to {
        stroke-dashoffset: -12;
    }
}